.div1{
    width: 50px;
    height: 50px;
  
    border-radius: 50%;
    position: absolute;
    
    animation-name: ball;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear

}

@keyframes ball{
    0%{ left: 0;}
  
    100%{ left: 1300;}
}

.div2{
    width: 50px;
    height: 50px;
    background-color: aqua;
    margin-left: 1300px;
    margin-top: 70px;
    border-radius: 50%;
    position: absolute;

    animation-name: balls;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
   

}

@keyframes balls{
    0%{background-color: burlywood; right: 0;}
    25%{background-color: chocolate }
    50%{background-color: darkgoldenrod}
    100%{background-color: darkseagreen; right: 1300;}
}


.div3{
    width: 50px;
    height: 50px;
    background-color: aqua;
    margin-top: 150px;
    border-radius: 50%;
    position: absolute;

    animation-name: bal;
    animation-delay: 6s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes bal{
    0%{ left: 0;}
  
    100%{ left: 1300;}
}   



.div4{
    width: 50px;
    height: 50px;
    background-color: aqua;
    margin-left: 1300px;
    margin-top: 220px;
    border-radius: 50%;
    position: absolute;

    animation-name: ba;
    animation-delay: 9s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
   

}
@keyframes ba{
    0%{background-color: burlywood; right: 0;}
    25%{background-color: chocolate }
    50%{background-color: darkgoldenrod}
    100%{background-color: darkseagreen; right: 1300;}
}

.div5{
    width: 50px;
    height: 50px;
    background-color: aqua;
    margin-top: 290px;
    border-radius: 50%;
    position: absolute;

    animation-name: bal;
    animation-delay: 12s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes bal{
    0%{ left: 0;}
  
    100%{ left: 1300;}
} 

.div6{
    width: 50px;
    height: 50px;
    background-color: aqua;
    margin-left: 1300px;
    margin-top: 360px;
    border-radius: 50%;
    position: absolute;

    animation-name: ba;
    animation-delay: 15s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
   

}
@keyframes ba{
    0%{background-color: burlywood; right: 0;}
    25%{background-color: chocolate }
    50%{background-color: darkgoldenrod}
    100%{background-color: darkseagreen; right: 1300;}
}

.img{
    width: 50px;
    height: 50px;
}



